form {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-form-field {
    width: 450px;
    margin-top: 2rem;
  }

  mat-icon {
    cursor: pointer;
  }
}

.player-cards-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
