<p>
  <mat-toolbar>
    <div class="toolbar-item logo">
      <img src="/assets/nbalogo.png" alt="" />
    </div>
    <div class="toolbar-item title">
      <h1>NBA Stats</h1>
    </div>
    <div class="toolbar-item">
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</p>
